/* colors and fonts */

body{
	background: #efdccb;
	color: black;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

h1, h2, h3 {
	font-family: 'Playfair Display', serif;
}

h1 {
	color: #9E5858;
	font-size: 40px;

}

h2 {
	color: #BA6E6A;
	font-size: 40px;
}

h3 {
	color: #BA6E6A;
	font-size: 40px
}

a{
	text-decoration-color: none;
	color: #efdccb;
	font-size: 16px;
}
a:hover {
	color: #613933;
}

div { padding-bottom: 50px
 }

.img-circle { 
border-radius: 50%;
}

.container {
	width: 950px;
	margin: 50px auto;
}

@media (max-width: 960px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

.card-white {
	background: #f3e7dc;
	border-top: 1px solid #efdccb;
	border-right: 3px solid #9E5858;
	border-bottom: 1px solid #efdccb;
	border-left: 3px solid #9E5858;
	box-shadow: 20px 20px 0px 20px #efdccb;
	margin: 60px 0px;
	text-align: center;
}
.btn-blue {
	background-color: #dbb1af;
	color: #f3e7dc;
	padding: 10px 15px;
	border-radius: 80px;
}
.btn-blue: hover {
	background-color: #7f4949;
	color: white;

}


.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 50px;
	color: #9E5858 ;
}
.list-inline i:hover {
	color: #dbb1af;
}

#introduction p {
	margin-bottom: 30px;
}